html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  font-size: 16px;
  color: rgb(57, 63, 65);
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  padding: 20px 10px;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: -0.016em;
  line-height: 40px;

  /* margin-top: 0.6em;
  margin-bottom: -0.27em; */
}

a {
  color: #101F9E;
  text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
@media(max-width:1024px){
  .container {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}

.offcanvas {
    transition: all ease 0.3s;
    height: 1px;
    opacity: 0;
    visibility: hidden;
}
.offcanvas.active {
    height: 100%;
    opacity: 1;
    visibility: visible;
    z-index: 505;
}
.offcanvas:before.active {
  background-color: #0000006b;
  position: absolute;
  top: 0;left:0;
  width: 100%;height: 100%;
}
.offcanvas .offcanvas-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.off-section .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0;
  z-index: -1;
}
.off-section .close-button {
  cursor: pointer;
  max-width: 36px;max-height: 36px;
}
@media (max-width: 1024px) {
  .off-section .backdrop.show {
    opacity: 0.5;
    z-index: 500;
  }
  .offcanvas {
      position: fixed;
      left: 0;
      top: 0;
      background: #fff;
      transform: translateX(-100%);
  }
  .offcanvas-body {
    display: flex;
    flex-direction: column;

  }
  .offcanvas-body .add-new-data {
    order: 1;
  }
  .offcanvas-body .nav{
    order: 2;
  }
  .offcanvas.active {
      transform: translateX(0);
      height: 100vh;
      overflow: auto;
  }

  .nav.flex-column {
      display: flex;
      flex-direction: column;
  }
}
@media (min-width:1024px) {
  .off-section .close-button {
    display: none;
  }
}




header nav {
  display: inline-flex;
  flex-flow: wrap row;
}
@media (max-width:1024px) {
  header nav {
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
}
header nav button {
  display: inline-block;
  color: #000;
  padding-right: 1rem;
  line-height: 44px;
  font-size: 1rem;
  padding-left: 1rem;
  background: transparent;
  border: 1px solid #ccc;
  cursor: pointer;
}
header nav button:hover, 
header nav button:active, 
header nav button:focus {
  background: #aaa;
}


/* Table - https://codepen.io/AllThingsSmitty/pen/MyqmdM */
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: left;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;

    background-color: #333;
    color: #fff;

    border: none;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
    white-space: pre-line;

    font-weight: 400;
  }

  table tbody td {
    font-size: 14px;
    line-height: 15px;
    text-shadow: 1px 1px 1px #fff;
    white-space: pre-line;
    padding: 14px;
}
  
  @media screen and (max-width: 1024px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }


  footer {
    text-align: center;
    padding: 2rem;
  }